table#colour_key {
    display: none;
}
body {
    padding-bottom: 70px;
}
a:link {
    font-weight: normal;
}
#contents {
    padding-top: 50px;
}
.yul-navbar {
  background-image: none !important;
  background-color: #ffffff !important;
}
.yul-navbar .navbar-brand img {
  margin-top: -15px;
}
@media (max-width: 480px) {
  .yul-navbar .navbar-brand img {
    margin-left: -90px;
  }
	#dwm_header {
		display: none;
	}
}
#dwm h2 {
	font-size: 18px;
}
#contents h1 {
	font-size: 20px;
	margin-top: 0;
}