body {
    padding-bottom: 70px;
}
a:link {
    font-weight: normal;
}
.yul-navbar {
  background-image: none !important;
  background-color: #ffffff !important;
}
.yul-navbar .navbar-brand img {
  margin-top: -15px;
}
#contents {
    padding-top: 50px;
}
#contents h1 {
	margin-top: 0;
}
#day_main thead tr th {
	text-align: center;
}
#colour_key {
  display: none;
}
.form_general {
	min-width: 0 !important;
}
@media (max-width: 480px) {
	.yul-navbar .navbar-brand img {
    margin-left: -90px;
  }
	.form_general label {
		display: block;
		float: none;
		text-align: left;
		margin: 0;
	}
	.form_general input,
	.form_general textarea,
	.form_general fieldset,
	.form_general legend,
	.form_general select
	{
		max-width: 100%;
		margin: 0 0 10px 0;
	}
	#cals {
		display: none;
	}
	#dwm h2, #dwm_header h2 {
		font-size: 16px !important;
		margin-top: 0 !important;
	}
	#contents h1 {
		font-size: 20px;
	}
}

