table#colour_key {
    display: none;
}
body {
    padding-bottom: 70px;
}
a:link {
    font-weight: normal;
}
#contents {
    padding-top: 50px;
}
.yul-navbar {
  background-image: none !important;
  background-color: #ffffff !important;
}
.yul-navbar .navbar-brand img {
  margin-top: -15px;
}
#contents h1 {
	margin-top: 0;
}
#day_main thead tr th {
	text-align: center;
}
.form_general {
	min-width: 0 !important;
}
.form_general label.radio {
	margin-top: 0 !important;
	margin-left: 1em;
}
.form_general fieldset {
	padding-top: 0 !important;
	padding-left: 0 !important;
}
.edit_area #time_settings {
	display: none !important;
}
.edit_area_room .form_general fieldset fieldset legend {
    font-size: inherit;
}

.edit_entry #div_rooms, .edit_entry #div_areas, .edit_entry #div_type, .edit_entry #end_datepicker {
	display: none !important;
}

.edit_entry #rep_type {
	border-right: none;
}
.edit_entry #skip {
	margin-left: 1em;
}

#simple_trailer {
	padding: 0;
}
#dwm_rooms {
    display: none;
}
a.booking-rules {
    color: #cc0000;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width: 480px) {
	.yul-navbar .navbar-brand img {
    margin-left: -90px;
  }
	#dwm_header #cals {
		display: none;
	}
	#dwm h2, #dwm_header h2 {
		font-size: 16px;
		margin-top: 0;
	}
	#contents h1 {
		font-size: 20px;
	}
	.form_general label {
		display: block;
		float: none;
		text-align: left;
		margin: 0;
	}
	.form_general input,
	.form_general textarea,
	.form_general fieldset,
	.form_general legend,
	.form_general select
	{
		max-width: 100%;
		margin: 0 0 10px 0;
	}
}

@media print {
	nav {
		display: none !important;
	}
	body a.sr-only:nth-of-type(1) {
		display: none !important;
	}
}